<div ng-include src="'header.html'"></div>
<div class="container">
    <div class="row teacher-chart-container">
        <h2>Avg Performace Vs Number of courses taking</h2>
        <select name="selectCourse" id="selectCourse" ng-model="selectedCourse">
            <option ng-repeat="course in teacher.teachersAndCourses" value="{{course.course_id}}">{{course.course_id}} {{course.name}} by {{course.first_name | uppercase}} {{course.last_name | uppercase}} </option>
        </select>
        <br/>
    </div>
</div>